[user]
    name = Jonathan Yong
    email = yongrenjie@gmail.com
[alias]
    pushall = !git remote | xargs -L1 git push --all
    unadd = reset HEAD --
    last = log -1 HEAD
    st = status
    co = checkout
	recommit = commit --amend --no-edit
	ci = commit
	reci = recommit
    lg = log --graph
[core]
    editor = vim
    autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	rebase = false
[diff]
	tool = vimdiff

; The colours below are tailored for a light terminal. For a dark terminal
; simply comment them out.
[color "decorate"]
	branch = bold 34
    remoteBranch = bold 197
	HEAD = bold 33
    tag = bold 172
[color "diff"]
    commit = 128
