[submodule ".vim/pack/plugins/start/python-syntax"]
	path = .vim/pack/plugins/start/python-syntax
	url = git@github.com:yongrenjie/python-syntax.git
[submodule ".vim/pack/plugins/start/vim-octave"]
	path = .vim/pack/plugins/opt/vim-octave
	url = git@github.com:yongrenjie/vim-octave.git
[submodule ".vim/pack/plugins/start/vim-sandwich"]
	path = .vim/pack/plugins/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/plugins/start/emmet-vim"]
	path = .vim/pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule ".vim/pack/plugins/start/papercolor-theme"]
	path = .vim/pack/plugins/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule ".vim/pack/plugins/start/targets.vim"]
	path = .vim/pack/plugins/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule ".vim/pack/plugins/start/vim-open-url"]
	path = .vim/pack/plugins/start/vim-open-url
	url = https://github.com/dhruvasagar/vim-open-url
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/pack/plugins/start/ultisnips"]
	path = .vim/pack/plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/plugins/start/FastFold"]
	path = .vim/pack/plugins/start/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule ".vim/pack/plugins/start/SimpylFold"]
	path = .vim/pack/plugins/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule ".vim/pack/plugins/start/gruvbox"]
	path = .vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/pack/plugins/start/gruvbox-material"]
	path = .vim/pack/plugins/start/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material
[submodule ".vim/pack/plugins/start/vim-ps1"]
	path = .vim/pack/plugins/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1
[submodule ".vim/pack/plugins/start/vim-haskell-indent"]
	path = .vim/pack/plugins/start/vim-haskell-indent
	url = https://github.com/itchyny/vim-haskell-indent
[submodule ".vim/pack/plugins/start/vim-python-pep8-indent"]
	path = .vim/pack/plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins/start/asyncrun.vim"]
	path = .vim/pack/plugins/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule ".vim/pack/plugins/start/vim-pydocstring"]
	path = .vim/pack/plugins/start/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring
[submodule ".vim/pack/plugins/start/vim-search-pulse"]
	path = .vim/pack/plugins/start/vim-search-pulse
	url = git@github.com:yongrenjie/vim-search-pulse.git
[submodule ".vim/pack/plugins/start/CamelCaseMotion"]
	path = .vim/pack/plugins/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/plugins/start/vim-javascript"]
	path = .vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/pack/plugins/opt/onedark.vim"]
	path = .vim/pack/plugins/opt/onedark.vim
	url = git@github.com:yongrenjie/onedark.vim.git
[submodule ".vim/pack/plugins/start/vimtex"]
	path = .vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule ".vim/pack/plugins/start/vim-move"]
	path = .vim/pack/plugins/start/vim-move
	url = https://github.com/matze/vim-move
[submodule ".vim/pack/plugins/start/VimCompletesMe"]
	path = .vim/pack/plugins/opt/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe
[submodule ".vim/pack/plugins/start/vim-nix"]
	path = .vim/pack/plugins/start/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule ".vim/pack/plugins/start/indentLine"]
	path = .vim/pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule ".vim/pack/plugins/opt/vim-one"]
	path = .vim/pack/plugins/opt/vim-one
	url = https://github.com/rakr/vim-one
[submodule ".vim/pack/plugins/start/vim-lsp"]
	path = .vim/pack/plugins/start/vim-lsp
	url = https://github.com/yongrenjie/vim-lsp
[submodule ".vim/pack/plugins/start/asyncomplete.vim"]
	path = .vim/pack/plugins/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule ".vim/pack/plugins/start/asyncomplete-lsp.vim"]
	path = .vim/pack/plugins/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule ".vim/pack/plugins/start/vim-haskellFold"]
	path = .vim/pack/plugins/start/vim-haskellFold
	url = https://github.com/Twinside/vim-haskellFold
