.vim/.netrwhist
**/.DS_Store
.gitconfig
.config/gh/hosts.yml
.config/gspread/service_account.json
.config/ghc/ghci_history
.nvim/plugged
.vim/plugged

# that's a symlink which make_symlinks.sh creates
.config/nvim

# work
.config/nowwhat
.config/whatwhat
