snippet :pgfunc "Penguins function" i
:func:\`~penguins.${1}\`${0}
endsnippet

snippet :mplfunc "Matplotlib function" i
:func:\`plt.$1 <matplotlib.pyplot.${1/([A-Za-z0-9_]+)(\(\))?/$1/}>\`$0
endsnippet

snippet :pgclass "Penguins class" i
:class:\`~penguins.${1}\`${0}
endsnippet

snippet $ "Math role" i
:math:\`${0}\`
endsnippet
