# from vim-snippets
# https://github.com/honza/vim-snippets/blob/master/UltiSnips/snippets.snippets
snippet snip "Snippet description" b
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}" ${3:b}
${0:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet
